# Input and Intermediate files
sav/
*_csv/
*.csv
assumptions/
datasets_max_*/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# dotenv
.env

# virtualenv
venv/
ENV/